version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    allow:
      - dependency-type: "all"
    cooldown:
      default-days: 1
      exclude:
        - "Microsoft.*"
    groups:
      asp:
        patterns:
          - "Asp.Versioning.*"
      microsoft:
        patterns:
          - "Microsoft.AspNetCore.*"
          - "Microsoft.Extensions.*"
        exclude-patterns:
          - "Microsoft.Extensions.Logging.ApplicationInsights"
      serilog:
        patterns:
          - "Serilog*"
  - package-ecosystem: "dotnet-sdk"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "docker"
    directory: "/"
    ignore:
      - dependency-name: "*dotnet*"
        update-types:
          - "version-update:semver-major"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "docker-compose"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "terraform"
    directory: "/terraform"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
