services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      no_cache: false
    image: bitcoin-web-api
    container_name: bitcoin-web-api
    ports:
      - 8080:8080
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTP_PORTS: $ASPNETCORE_HTTP_PORTS
      KEY_VAULT_NAME: $KEY_VAULT_NAME
      USE_JSON_FORMATTING: true
      USE_OUTPUT_CACHE: $USE_OUTPUT_CACHE
      USE_RATE_LIMITER: $USE_RATE_LIMITER
      SHOW_MOCK_SERVER_LOGS: false
      TESTING_LOG_LEVEL: Warning
      MARKET_CLIENT_URL: http://wiremock:8080
    user: app
    read_only: true
    privileged: false
    tmpfs:
      - /tmp:rw
    depends_on:
      - wiremock
  wiremock:
    image: wiremock/wiremock:3.13.2-alpine
    container_name: wiremock
    ports:
      - 9091:8080
    read_only: false
    privileged: true
    volumes:
      - ./wiremock:/home/wiremock/mappings
  playwright:
    build:
      context: .
      dockerfile: tests/Dockerfile
      no_cache: false
    container_name: playwright
    read_only: false
    privileged: true
    command: dotnet test --project tests/E2ETests -c Release --no-restore
