name: deploy
on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "Directory.Build.props"
      - "Dockerfile"
      - ".github/workflows/deploy.yml"
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "Directory.Build.props"
      - "Dockerfile"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    environment: Azure
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          logout: true
      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
          load: true
          pull: false
          no-cache: true
          tags: ${{ vars.IMAGE }}
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    needs: build
    environment: Azure
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Azure login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy
        uses: azure/container-apps-deploy-action@8dff69dac3367c32ceb2690d8f13adbeab462703 # v2
        with:
          resourceGroup: ${{ vars.RESOURCE_GROUP_NAME}}
          containerAppEnvironment: ${{ vars.CONTAINER_APP_ENVIRONMENT }}
          containerAppName: ${{ vars.CONTAINER_APP_NAME}}
          imageToDeploy: ${{ vars.IMAGE }}
          registryUrl: ${{ vars.REGISTRY_URL }}
          registryUsername: ${{ secrets.DOCKERHUB_USERNAME }}
          registryPassword: ${{ secrets.DOCKERHUB_TOKEN }}
          targetPort: ${{ vars.CONTAINER_PORT }}
          environmentVariables: >
            ASPNETCORE_ENVIRONMENT=Production
            KEY_VAULT_NAME=${{ secrets.KEY_VAULT_NAME }}
