name: deploy
on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "Directory.Build.props"
      - "Dockerfile"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: Azure
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Azure login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy
        uses: azure/container-apps-deploy-action@8dff69dac3367c32ceb2690d8f13adbeab462703 # v2
        with:
          resourceGroup: ${{ vars.RESOURCE_GROUP_NAME}}
          containerAppEnvironment: ${{ vars.CONTAINER_APP_ENVIRONMENT }}
          containerAppName: ${{ vars.CONTAINER_APP_NAME}}
          imageToDeploy: ${{ vars.IMAGE }}
          registryUrl: ${{ vars.REGISTRY_URL }}
          registryUsername: ${{ secrets.DOCKERHUB_USERNAME }}
          registryPassword: ${{ secrets.DOCKERHUB_TOKEN }}
          targetPort: ${{ vars.CONTAINER_PORT }}
          environmentVariables: >
            ASPNETCORE_ENVIRONMENT=Production
            KEY_VAULT_NAME=${{ secrets.KEY_VAULT_NAME }}
