name: sonar
on:
  push:
    branches:
      - main
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.props"
      - "**/packages.lock.json"
      - ".config/dotnet-tools.json"
      - "global.json"
      - ".github/workflows/sonar.yml"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.props"
      - "**/packages.lock.json"
      - ".config/dotnet-tools.json"
      - "global.json"
      - ".github/workflows/sonar.yml"
  schedule:
    - cron: "0 21 * * 0"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: ./global.json
          cache: true
          cache-dependency-path: "**/packages.lock.json"
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 17
          distribution: "zulu"
      - name: Install tools
        run: dotnet tool restore
      - name: Setup scanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet tool run dotnet-sonarscanner begin \
            /k:"Tsingis_bitcoin-web-api" \
            /o:"tsingis" \
            /d:sonar.token="${{ env.SONAR_TOKEN }}" \
            /d:sonar.host.url="https://sonarcloud.io" \
            /d:sonar.cs.vscoveragexml.reportsPaths="coverage.xml" \
            /d:sonar.scanner.scanAll=false \
            /d:sonar.dotnet.excludeTestProjects=true
      - name: Restore dependencies
        run: dotnet restore --locked-mode
      - name: Build and collect coverage
        env:
          USE_MOCK_SERVER: ${{ vars.USE_MOCK_SERVER }}
        run: |
          dotnet tool run dotnet-coverage collect \
            "dotnet test --project tests/UnitTests --no-restore" -f xml -o "coverage.unit.xml"
          dotnet tool run dotnet-coverage collect \
            "dotnet test --project tests/IntegrationTests --no-restore" -f xml -o "coverage.integration.xml"
      - name: Create report
        run: dotnet tool run dotnet-coverage merge "coverage.*.xml" -o "coverage.xml" -f xml
      - name: Finalize scanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet tool run dotnet-sonarscanner end \
          /d:sonar.token="${{ env.SONAR_TOKEN }}"
