name: test
on:
  push:
    branches:
      - main
    paths:
      - "**/*.cs"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.props"
      - "**/packages.lock.json"
      - "docker-compose.yml"
      - ".config/dotnet-tools.json"
      - "global.json"
      - ".github/workflows/test.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  unit-test:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: ./global.json
          cache: true
          cache-dependency-path: "**/packages.lock.json"
      - name: Install Report Generator
        run: dotnet tool restore
      - name: Restore
        run: dotnet restore --locked-mode
      - name: Test & collect coverage
        run: |
          dotnet test tests/UnitTests -c Release --no-restore \
          --settings tests/coverage.runsettings --results-directory ${{ runner.temp }}/test-results
      - name: Generate report
        run: |
          dotnet tool run reportgenerator -reports:"${{ runner.temp }}/test-results/**/*cobertura.xml" \
          -targetdir:"${{ runner.temp }}/coverage-report" \
          -reporttypes:"Badges;MarkdownSummaryGithub"
      - name: Create coverage-reports branch and push content
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: |
          git fetch origin coverage-reports
          git checkout coverage-reports || git checkout -b coverage-reports
          cp -rp ${{ runner.temp }}/coverage-report/badge_combined.svg ./
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add badge_combined.svg
          git commit -m "Update coverage reports" || echo "No changes to commit"
          git push origin coverage-reports
      - name: Set coverage summary
        run: cat ${{ runner.temp }}/coverage-report/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
      - name: Upload coverage report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-report
          path: ${{ runner.temp }}/coverage-report
          overwrite: true
          retention-days: 10
  architecture-test:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: ./global.json
          cache: true
          cache-dependency-path: "**/packages.lock.json"
      - name: Restore
        run: dotnet restore --locked-mode
      - name: Test
        run: dotnet test tests/ArchitectureTests -c Release --no-restore
  integration-test:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: ./global.json
          cache: true
          cache-dependency-path: "**/packages.lock.json"
      - name: Restore
        run: dotnet restore --locked-mode
      - name: Test
        run: dotnet test tests/IntegrationTests -c Release --no-restore
        env:
          USE_MOCK_SERVER: ${{ vars.USE_MOCK_SERVER }}
          SHOW_MOCK_SERVER_LOGS: ${{ vars.SHOW_MOCK_SERVER_LOGS }}
          TESTING_LOG_LEVEL: ${{ vars.TESTING_LOG_LEVEL }}
  e2e-test:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: ./global.json
          cache: true
          cache-dependency-path: "**/packages.lock.json"
      - name: Restore
        run: dotnet restore --locked-mode
      - name: Build
        run: dotnet build tests/E2ETests -c Release --no-restore
      - name: Setup playwright
        shell: pwsh
        run: ./tests/E2ETests/bin/Release/net10.0/playwright.ps1 install chromium --with-deps
      - name: Test
        run: dotnet test tests/E2ETests -c Release --no-restore --no-build
